{% extends 'base.html' %}
{% load static  %}

{% block head_title %} {{ instance.name }} {% endblock %}

{% block content %}

{% load mptt_tags %}

<ul>
    {% recursetree nodes %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>


 {% recursetree nodes %}
 
 {{ node.name }}
 <li class = "dropdown" id = "category.name">
  <a href = "{% url 'categories' category.id %}" class = "dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">{{category.name}}</a>
 
 {% if not node.is_leaf_node %}
 <ul class = "dropdown-menu children" id = "dropdown-menu-{{ category.name }}">
   <li><a href= "{% url 'categories' category.id" >{{ children }}</a></li>
 </ul>
 {% endif %}
 
 </li>
 
 
 {% endrecursetree %}

{% endblock %}

