{% extends "base.html" %}
{% block content %}

<div class = "dropdownmenu">
    
    <div class="productdropdown">
    <ul class="menubuttons list-inline">
        <li><a href="{% url 'productlist' %}">Browse All</a></li> 

            {% for category, subcategories in root_categories.items %}
                <li class="dropdown" id="category.name" data-toggle = "dropdown">
                    <a href="{% url 'category' category.id %}" class="dropdown" role="button" aria-haspopup="true" 
                            aria-expanded="false"> {{ category.name }} <span class="caret"></span></a>

                            <ul class="dropdown-menu" id="dropdown-menu-{{category.name}}">
                            {% for sub in subcategories %}
                                <li class = "list-inline-it"><a href="{% url 'category' sub.id %}"
                                >{{ sub.name }}</a></li>                    
                            {% endfor%}
                            </ul>
                            </li>
                    {% endfor %}
                    
                    
                    </ul>
                    
                    
                    <!--Error with dropdown on hover. Unable to complete with time constraints-->
                    
        
        
        
    </div><!-- end of Dropdown-->
    
    
    
</div>

        {% for product in products  %}

        <div class = "col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
           
            <div class = "panel-body">
                <div class = "product" style ="background-image: url('{{MEDIA_URL}}{{product.image}}')"></div>
                <a href = "{% url 'product_details' product.id %}">
                <h3>{{product.name}}</h3>
                </a>
                <p class = "product-description">{{product.description}}</p>
                <p>€{{product.price}}</p>
                
                <p>Average Rating: {{ product.ratings.get.average|floatformat:"1" }} /5 <span class="glyphicon glyphicon-star"></span></p>

                
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class = "input-group">
                                <input name = "quantity" type = "number" min="1" max = "999" class = "form-control" placeholder  "Quantity">
                                <span class = "input-group-btn">
                                    <button class = "btn btn-success" type = "submit">Add</button>
                                </span>
                            </div>
                </form>
                
            </div>
           
           </div>
           
           
        {% endfor %}
    
{% endblock %}