{% extends "base.html" %}

{% load ratings %}
{% block content %}
<div id = "productmenu">



    <form action="{% url 'search'%}" method="get">
           
            <input type="text" name="q">
            
            <button type="submit">Search</button>
            
            
    </form>
</div><!--End of Product Menu -->
        
        {% load namify %}

        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
         
            {% for i in instance.category.get_slug_list %}
               <li><a href="/category/{{ i }}">{{ i | get_name }}</a></li>
            {% endfor %}
    
        </ul> 
         
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class = "prodrating">
                <h3>Rating</h3>
            
            {% ratings product %}
            </div>
            <img src="{{ MEDIA_URL }}{{ product.image }} " style = "max-width:80%; max-height:auto;"/>
            <h3>{{ product.name }} - € {{product.price }}</h3>
            <p>{{ product.description}}</p>
            
            
            
            
            
           
       
      
            <div class="row">
                <div class="col-xs-9">
                     
                    <button class="btn btn-default" onclick="location.href={% url 'productlist' %}">Back</button>
                    
                    
                     
                     </div>
            </div>
        </div>
    </div>
    
    <div class = "comments">
    {% include '_reviews.html' %}
    
    
    </div>
    
     

{% endblock %}


