/* imported fonts */




/* Navbar styling */

.navbar-masthead{
    background:black;
    text-transform: uppercase;
    font-family: georgia;

    
}



/* base.html styling */

body{
    margin:0 auto;
    font-family: helvetica;
    padding-top: 50px;
    bottom:0px;
    padding-bottom: 0px;
    min-height: 100%;
    background: #fafafa;
}

.content{
    min-height: calc(100vh - 220px);
}


.footer{
    padding-top: 0px;
    height: 50px;
}


footer {
    height:200px;
    background-color: black;
    color:white;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed ;
    color: #A9A9A9 ;
}

footer a{
    font-family: arial;
    text-decoration: none;
    color:white;
}


.social-links{
    padding-top: 10px;
    padding-bottom: 10px;
    
    
    
}
.social-links li a i{
    width:32px;
    height:32px;
    padding:12px 0;
    border-radius:50%;
    font-size:13px;
    line-height: 7px;
    text-align: center;
    color:#fafafa;
    background:#8f8f8f;
    transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background:#e84610;
    
}

/* media queries */

@media (min-width:1040px){
    .mobile{
        display: none;
    }
}

@media only screen and (max-width:1040px){
    .desktop{
        display:none;
    }
    
    .mobile{
        display: inherit;
    }
}

/* end of base.html styling */

/* index styling */

.mobindex{
    min-height:100vh;
    min-width:100vw;
    background:pink;
}

.quarter{
  min-width:50vw;
  min-height:50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quarter > .btn{
   max-width:50%;
}


.subindex{
    background:url(/static/images/styleindex.jpg);
    background-size:cover;
}

.shopindex{
    background:url(/static/images/shopindex.jpg);
    background-size:cover;
}

.blogindex{
    background:url(/static/images/blogindex.jpg);
    background-size:cover;
}

.registerindex{
    background:url(/static/images/registerindex.jpg);
    background-size:cover;
}


.topimgindex, .midimgindex, .botimgindex{
    position:relative;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.topimgindex{
    background-image:url(/static/images/topdesktop.jpg);
    min-height:400px;
}

.midimgindex{
    background-image:url(/static/images/shopindex.jpg);
    min-height:400px;
    
}

.botimgindex{
    background-image:url(/static/images/blogindex.jpg);
    min-height:400px;
    
}

.abbotimgindex{
    background-image:url(/static/images/styleindex.jpg);
    min-height: 400px;
}

.caption {
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    text-align:center;
    color: #000;
}

.caption span.border{
    background-color: #111;
    color:#fff;
    padding: 18px;
    font-size:25px;

}

.welcome{
    color:#777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
    
}

.introh3{
    letter-spacing:5px;
    text-transform:uppercase;
    font: 20px;
    color: #111;
}

.midcap{
    background-color:transparent;
    font-size:25px;
    color:#f7f7f7;
}

.why{
    position:relative;
}

.whydetails{
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align:justify;
    
}











/* end of index styling */

/* register/login form */

.logregform{
    position: relative;
    width: 50%; 
    top: 50%;
    left: 50%;
    margin-top:40px;
    margin-left: -25%; 
}

/* subscribe.html styling */

#subintro{
    padding-top: 10px;
    text-align: center;
}

#subintro > h3{
    color: black;
    text-transform: uppercase;
}

#subintro > p{
    padding-left: 10%;
    padding-right: 10%;
}


#subformid{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


    
    


/* profile styling */
.centered{
    text-align: center
}

form{
    display: inline-block;
    text-align: center;
}
#profilepicture{
    text-align: center;
    padding-top: 15px;
    
}

#profilepicture img{
    border-radius: 5px;
}

/* end of profile */

/* blog styling */

.posttitles{
    font-family: arial;
    color: black;
    text-transform: uppercase
}

.comments{
    text-align: center;
    background:white;
    border: black;
    border-style: solid;
}

hr{
    background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}



/* product styling */


.badge{
    padding-left:9px;
    padding-right:9px;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
    border-radius:9px;
    
}

.label-warning[href],
.badge-warning[href]{
    background-color: #c67605;
    
}

.product {
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    width:150px;
    height:150px;
    margin: 0 auto;
}


caption p {
    word-wrap : break-word;
}

.row.row-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default{
    border-color:transparent;
    padding: 0 10px;
}

.panel-body {
    height:100%;
    border: 1px solid #ddd;
    
}
    
.product-description{
    min-height:40px;
}


#productmenu{
    min-height: 200px;
    background:#B8CFFF;
    border:solid;
}

/*under construction */

#underconstruction{
    position: fixed;
    width: 50%; 
    z-index: 2; 
    top: 50%;
    left: 50%;
    margin-top: -25%; 
    margin-left: -25%; 
    padding: 10px;
    border: 2px solid #555555;
    background-color: #ccc;
    border-radius: 5px;
    text-align: center;
}

#underconstruction h1, h2{
    font-family: arial;
    color:red;
}

