{% extends "base.html" %}

{% block content %}

<div class = "container">
    
    
    <h2>Return Policy</h2>
    <h3>...with Subscriptions</h3>
    <p> Our return policy is pretty simple. If you don't like the styling we have sent to you we will happily get another stylist to send another draft back to you within 24 hours or give you your money back if that doesn't satistfy you. </p>
    <h3>...With Clothing</h3>
    <p> That's the usual drill. You've 28 days to return unopened or unwanted products that have not been worn and we'll give you your money back.</p>
    
    <h2>Cancellations</h2>
    <p> Look, we both know this won't last forever. Please ensure you cancel six days before your next renewal. And if you've been with us longer than six months, we'll throw one more in for the road</p>
    
    
    
    
    
    
</div>





{% endblock %}